/*
Stilizzo lo sfondo del body, ovvero di tutta la pagian
*/
body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
/*
Stilizzo il nav
*/
nav{
    background-color: white;
    margin-bottom: 40px;
    padding: 10px;
    vertical-align: middle;
    display: flex;
}
/*
Dichiaro le dimensioni del Logo
*/
#logo{
    width: 65px;
    height: auto;
}
/*
Rendo h1 (tag BLOCK) in un tag INLINE-BLOCK
*/
h1{
    display: inline-block;
    
}
/*
Dichiaro le dimensiomne del mio Contenitore*/
#Container{
    width: 1000px;
    margin: auto;
    background-color: white;
   
}
/*
l'header ha un tot di marhgine dal body che lo contiene
*/
header{
    margin: 0px;
}
#Buttons{
    padding: 20px;
    margin-left: 50px;
}
#first-button{
    background-color: rgb(10, 12, 137);
    border-color: rgb(10, 12, 137);
    border-radius: 10%;
    color: white;
}
#second-button{
    background-color: white;
    border-color: lightgray;
    color: lightgray;
}
/*
Stilizzo la riga
*/
hr{
    border: 2px black solid;
}
/*
Stilizzo il main che dev avere margine dal body come l'header
*/
main{
    margin-left: 50px;
    margin-bottom: 50px;
}
/*
Costrusisco i cerchi intorno alle 'tick' e alle croos
*/
.tick{
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;

    color: green;
}
.cross{
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;

    color: red;
}
/*
Stilizzo le DUE classi in modo che ogniqualvolta si ripetano eseguano gli stessi ordini
*/
.button{
    color: black;
    border-color: transparent;
    border-radius: 15%;
}
.Editorial{
    background-color: blue;
    color: white;
}
.Q1{
    background-color: purple;
    color: white;
}
.Recruiting{
    background-color: rgb(0, 128, 21);
    color: white;
}
.Mobile{
    background-color: orange;
    color: white;
}
.Website{
    background-color: pink;
    color: white;
}
.Sales{
    background-color: red ;
    color: white;
}
